header {
    background-color: #f55d68;
}

.nav-tabs {
    margin: 0 auto 1px;
    border-bottom: none;
    text-align: center;
}

    .nav-tabs > li {
        float: none;
        display: inline-block;
    }

    .nav-tabs > li.logo {
        margin-top: 14px;
    }

        .nav-tabs > li > a,
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            padding: 20px 15px;
            color: #fff;
            border: none;
            background-color: transparent;
        }

        .nav-tabs > li.logo > a {
            padding: 0;
        }

            .nav-tabs > li > a:hover,
            .nav-tabs > li > a:focus {
                background-color: transparent;
            }

            .nav-tabs > li.active > a,
            .nav-tabs > li.active > a:hover,
            .nav-tabs > li.active > a:focus {
                border-bottom: 3px solid #fff;
            }

            .nav-tabs > li > a:hover {
                color: #fff;
            }

            .nav-tabs .dropdown.open > a {
                background-color: #f4184c;
                border-radius: 0;
                /*border-bottom: 3px solid transparent;*/
            }

            .nav-tabs .dropdown-menu {
                background-color: #f55d68;
                border: none;
            }

                .nav-tabs .dropdown-menu > li > a {
                    padding: 5px 15px;
                    color: #fff;
                }

                .nav-tabs .dropdown-menu > li > a:hover {
                    background: #f4184c !important;
                }

        .nav-tabs > li .cart-icon {
            padding: 12px !important;
            position: relative;
            border: none !important;
            opacity: 0.8;
        }

        .nav-tabs > li.active .cart-icon {
            opacity: 1;
        }

            .nav-tabs > li .cart-icon .item-count {
                width: 23px;
                height: 23px;
                color: #eb7e4a;
                line-height: 23px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                background-color: #fff;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                position: absolute;
                top: 5px;
                right: 5px;
            }

@media (max-width: 580px) {
    .nav-tabs > li.logo {
        margin-bottom: 15px;
    } 
	.nav-tabs > li {
        width: 100%;
        display: block;
	}
}