.filter-panel {
    border-right: 1px solid #262a2e;
}   

    .filter-panel .filter-items {
        margin-top: 10px;
        padding-top: 10px;
    }

    .filter-panel .sub-filters {
        padding-top: 15px;
        border-top: 1px solid #262a2e;
    }

        .filter-panel .filter-items .btn {
            margin: 0 10px 10px 0;
            width: 100%;
            display: block;
        }

.product-list {
    padding-top: 10px;
}

    .product-list .product-item {
        margin-bottom: 10px;
        padding: 0 5px;
        height: 233px;
        overflow: hidden;
        position: relative;
        
    }

        .product-list .product-item a {
            height: 100%;
            display: block;
            position: relative;
        }

            .product-list .product-item a img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .product-list .product-item a h2 {
                margin: 0;
                padding: 5px;
                width: 100%;
                color: #fff;
                font-size: 16px;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 10px;
                left: 0;
            }

            .product-list .product-item a p {
                margin: 0;
                padding: 10px 15px;
                color: #fff;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 0px;
                left: 0;
                opacity: 0;
                -webkit-transition: all 0.5s ease-out;
                -moz-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;
            }

            .product-list .product-item a:hover p {
                opacity: 1;
                bottom: 50px;                
            }