.product-datails {

}
    
    .product-datails .filters {
        margin: 10px 0;
    }

        .product-datails .filters .btn {
            margin: 0 10px 10px 0;
        }

    .product-datails .product-photo {
        cursor: pointer;
    }

    .product-datails .type {
        margin-bottom: 10px;
    }
    
        .product-datails .type button {
            margin: 0 5px;
        }

    .product-datails .image-list {
        margin-top: 15px;
    }

        .product-datails .image-list  .product-image {
            margin-right: 10px;
            margin-bottom: 10px;
            width: 160px;
            height: 160px;
            line-height: 160px;
            overflow: hidden;
            float: left;
            cursor: pointer;
        }

            .product-datails .image-list  .product-image img {
                width: 100%;
            }

.product-images-window {

}

    .product-images-window .modal-body {
        padding: 3px;
    }