<div id="wrap">       
        <div class="container main-conteiner">
			<div class="Desingner">
				<nav class="menuDesigner">
					<div class="rightMenuDesigner">
						<div class="row">
							<div class="col-xs-5 col-sm-5 col-md-5">
								<!--<div id="uploadFileDiv">
									<input type="file" id="imageLoader" name="imageLoader" class="filestyle" data-icon="false" data-buttontext="Upload image" />
								</div>-->
                                <input type="file" id="imageLoader" name="imageLoader" />
							</div>
						</div>
					</div>
				</nav>		
				<div class="body-desingner">
					<canvas id="canvas" width="956" height="806" style="background-color: #ffffff;">
						Your browser does not support HTML5 Canvas
					</canvas> 
				</div>
			</div>
			
        </div>
    </div>
    <!--<script type="text/javascript" src="/scripts/case/bootstrap-filestyle.js"></script>-->

	<script type="text/javascript" src="/scripts/case/iPhone5.js"></script>