<div class="services-page">        
    <nav class="services-tab">
        <ul>
            <li ng-click="goTo('services.all'); filterDevice('')" ng-class="isOnState('services.all') ? 'selected' : ''">Все</li>
            <li ng-click="goTo('services.a4'); filterDevice('прямоуголь')" ng-class="isOnState('services.a4') ? 'selected' : ''">Прямоугольный</li>
            <li ng-click="goTo('services.heart'); filterDevice('сердц')" ng-class="isOnState('services.heart') ? 'selected' : ''">В форме сердца</li>
            <li ng-click="goTo('services.cardboard'); filterDevice('картон')" ng-class="isOnState('services.cardboard') ? 'selected' : ''">Картонный</li>
            <li ng-click="goTo('services.magnetic'); filterDevice('магнит')" ng-class="isOnState('services.magnetic') ? 'selected' : ''">Магнитный</li>
        </ul>
    </nav>
    <div class="title-container">
        <h1>Печать на пазлых различной формы. Обычные и магнитные.</h1>
        <p>Закажите уникальный пазл с вашей фотографией, дизайном, картинкой, текстом или логотипом. Удивите своих друзей и близких.</p>
    </div>
    <div class="services-list ng-hide" ng-show="services.puzzle.length!=0">
        <div class="service-item" ng-repeat="service in services.puzzle | filter:device">                 
            <a href="#/puzzles/{{service.id}}">
                <img ng-src="{{service.url}}" alt="{{service.name}}" width="240" />            
                <h2>{{service.name}}</h2>
                <p>{{service.description}}</p>
            </a>           
        </div>
    </div>
    <div class="loading" ng-hide="services.puzzle.length!=0">
        <img src="images/loading.gif" alt="Загрузка..."  />
    </div> 
</div>
