            <div class="contacts">
                <h1 class="title">Наша команда</h1>
                <div class="team">
                    <div class="leader">
                        <div class="info">
                            <a class="name" href="http://vk.com/sizon.dmitry" target="_blank">
                                <img src="images/contacts/pulsodream.jpg" alt="pulsodream лидер Сизон Дмитрий" width="200" />                    
                                Сизон Дмитрий
                            </a>
                        </div>
                        <div class="contact-links">
                            <p><span class="mail icon"></span><a href="mailto:dmitry.sizon@gmail.com">dmitry.sizon@gmail.com</a></p>
                            <p><span class="skype icon"></span><a href="skype:dimonsizon?chat">dimonsizon</a></p>
                            <p><span class="vk icon"></span><a href="http://vk.com/sizon.dmitry" target="_blank">vk.com/sizon.dmitry</a></p>
                        </div>                       
                    </div>
					<div class="leader">
						<div class="info">
							<a class="name" href="http://vk.com/alexandr.bizness" target="_blank">
								<img src="images/contacts/aghvanyan.jpg" alt="pulsodream лидер Александр Агванян" width="200" />
								Александр Агванян
							</a>
						</div>
						<div class="contact-links">
							<p>
								<span class="mail icon"></span>
								<a href="mailto:dmitry.sizon@gmail.com">-</a>
							</p>
							<p>
								<span class="skype icon"></span>
								<a href="skype:alexandr.bizness?chat">alexandr.bizness</a>
							</p>
							<p>
								<span class="vk icon"></span>
								<a href="http://vk.com/alexandr.bizness" target="_blank">vk.com/alexandr.bizness</a>
							</p>
						</div>
					</div>
                    <div class="leader">
                        <div class="info">
                            <a class="name" href="http://vk.com/nazarenkoj" target="_blank">
                                <img src="images/contacts/nazarenko.jpg" alt="pulsodream лидер Назаренко Евгений" width="200" />                    
                                Назаренко Евгений
                            </a>
                        </div>  
                        <div class="contact-links"> 
                            <p><span class="mail icon"></span><a href="mailto:dmitry.sizon@gmail.com">-</a></p>                 
                            <p><span class="skype icon"></span><a href="skype:chemax-99?chat">chemax-99</a></p>
                            <p><span class="vk icon"></span><a href="http://vk.com/nazarenkoj" target="_blank">vk.com/nazarenkoj</a></p>
                        </div> 
                    </div>
                    <div class="vk-group-con left">                    
                        <!-- VK Widget -->
                        <div id="vk_groups_con"></div>
                        <script type="text/javascript">
							VK.Widgets.Group("vk_groups_con", { mode: 0, width: "300", height: "340", color1: '', color2: '555555', color3: '333' }, 77444351);
						</script>
                    </div> 
                </div>
                <a class="link-button reg" href="http://sizon.pulsodream.com/do.vshow#reguser" target="_blank">
                    ЗАРЕГИСТРИРОВАТЬСЯ ПРЯМО СЕЙЧАС
                </a>
                <a class="link-button mailto">
                    ОТПРАВИТЬ ЗАЯВКУ ДЛЯ РЕГИСТРАЦИИ
                </a>
                           
            </div>       
        </section>
		