<div class="hidden">
	<h1></h1>
</div>
<div class="content-info top-info-container">
	<div class="left">
		<div class="clearfix">
			<h1 class="left align-center">Сублимационная 3D печать на предметах с вашим дизайном, фото, изображением, текстом или логотимом.</h1>
			<span class="phone right"><span class="icon left"></span>+7 988 99 44 22 5</span>
		</div>
		<div class="steps">
			<img src="/images/case-steps.png" alt="печать на чехлах iPhone" width="618" />
		</div>					
	</div>
	<div class="right iphone-case">
		<img src="/images/case.jpg" alt="печать на чехлах iPhone" />
	</div>
</div>
<div class="content-info top20">
	<h1>НАШИ УСЛУГИ</h1>
	<div class="services-list top10">
		<div class="service-item cases">
            <a href="#/case" ng-click="goTo('case')">
			    <img src="/images/services/cases.jpg" alt="печать на чехлах iPhone" />
            </a>
			<h2>ЧЕХЛЫ НА ТЕЛЕФОН</h2>            
		</div>
		<div class="service-item">
            <a href="#/utensils" ng-click="goTo('utensils')">
			    <img src="/images/services/mug.jpg" alt="печать на кружках, бакалах, чашках, рюмках" />
            </a>
			<h2>КРУЖКИ, РЮМКИ, БАКАЛЫ</h2>
		</div>
		<div class="service-item last">
            <a href="#/clothing" ng-click="goTo('clothing')">
			    <img src="/images/services/t-shirt.jpg" alt="печать на футболках и майках" />
            </a>
			<h2>ФУТБОЛКИ И МАЙКИ</h2>
		</div>
		<div class="service-item">
            <a href="#/utensils" ng-click="goTo('utensils')">
			    <img src="/images/services/plate.jpg" alt="печать на тарелках с Вашим фото" />
            </a>
			<h2>ТАРЕЛКИ</h2>
		</div>
		<div class="service-item">
            <a href="#/tile" ng-click="goTo('tile')">
			    <img src="/images/services/tile.jpg" alt="печать на керамической плитке любого изображения" />
            </a>
			<h2>КЕРАМИЧЕСКАЯ ПЛИТКА</h2>
		</div>
		<div class="service-item last">
            <a href="#/puzzles" ng-click="goTo('puzzles')">
			    <img src="/images/services/puzzles.jpg" alt="печать на пазлах с Вашим фото" />
            </a>
			<h2>ПАЗЛЫ</h2>
		</div>
	</div>
</div>
<div class="content-info contacts top20">
	<h1 class="align-center">НАШИ КОНТАКТЫ</h1>

	<p class="top15 bold">Адресс:</p>
	<p>г. Таганрог</p>
			
	<p class="top15 bold">Почта:</p>
	<p>dmitry.sizon@gmail.com</p>
			
	<p class="top15 bold">Телефон:</p>
	<p>+7 988 99 44 22 5</p>
			
	<p class="top15 bold">Мы Вконтакте:</p>
	<p><a href="http://vk.com/id287490269" target="_blank">vk.com/id287490269</a></p>
</div>