<section class="main-container news center">
	<div class="hidden">
		<h1>PulsoDream Новости</h1>
		<h1>PulsoDream В России</h1>
		<h1>PulsoDream на русском</h1>
		<h1>PulsoDream Альтернативная энергетика</h1>
		<h1>Pulso Dream</h1>
	</div>
	<div>
		<!--<p>Так же с новостями компании GetEasy от нашей команды вы можете ознакомиться на нашем блоге <a href="http://geteasygroups.blogspot.ru/" target="_blank" style="font-size: 16px;">geteasygroups.blogspot.ru</a></p>-->
		<h1 class="title">Новости с нашей группы Вконтакте</h1>
		 <!-- VK Widget -->
		<div class="vk-group-news">           
			<div id="vk_groups_news"></div>
			<script type="text/javascript">
				VK.Widgets.Group("vk_groups_news", { mode: 2, width: "640", height: "900", color1: 'FFFFFF', color2: '555555', color3: '554861' }, 77444351);
			</script>
		</div>            
	</div>
</section>