<div class="editor" nv-file-drop="" uploader="uploader">
    <div class="row top10">
        <div class="editor-container col-md-8">
            <div id="mainImg" class="main-img">
                <img ng-src="{{selectedImg}}" />
            </div>
            <div class="mockup-img">
                <img ng-src="{{mockupImg}}" />
            </div>
            <div class="editor-buttons">
                <button class="btn btn-primary" ng-click="editor.plus()"><i class="fa fa-search-plus" title="Увеличить"></i></button>
                <button class="btn btn-primary" ng-click="editor.minus()"><i class="fa fa-search-minus" title="Уменьшить"></i></button>

                <button class="btn btn-primary" ng-click="editor.moveUp()"><i class="fa fa-arrow-up" title="Сдвинуть вверх"></i></button>
                <button class="btn btn-primary" ng-click="editor.moveDown()"><i class="fa fa-arrow-down" title="Сдвинуть вниз"></i></button>
                <button class="btn btn-primary" ng-click="editor.moveLeft()"><i class="fa fa-arrow-left" title="Сдвинуть влево"></i></button>
                <button class="btn btn-primary" ng-click="editor.moveRight()"><i class="fa fa-arrow-right" title="Сдвинуть вправо"></i></button>
            </div>
        </div>

        <div class="col-md-4">
            <div ng-show="uploader.isHTML5">
                <div class="over-zone" nv-file-over="" uploader="uploader">
                    Перетащите сюда изображение или нажмите кнопку "Загрузить изображение"
                </div>
                <!-- Example: ng-file-drop | ng-file-drop="options" -->
                <!--<div nv-file-drop="" nv-file-over="" uploader="uploader" options="{url: '/foo'}" over-class="other-over-zone" class="other-drop-zone zone" style="float: right;">
                    One more drop zone with its own settings (and indication)
                </div>
                <div style="clear: both;"></div>-->
            </div>
            <label class="btn btn-primary top10">
                <input type="file" nv-file-select="" uploader="uploader" multiple ng-hide="true" />
                Загрузить изображение
            </label>

            <div class="choose-product">
                <h3>Выбирите продукт</h3>

                <div>
                    <ul class="list-unstyled">
                        <li>
                            <a ng-click="loadProducts('case')">Чехлы</a>
                        </li>
                        <!--<li>
                            <a ng-click="loadProducts('keychain')">Брелки</a>
                        </li>-->
                        <li>
                            <a ng-click="loadProducts('mug')">Кружки</a>
                        </li>
                        <li>
                            <a ng-click="loadProducts('pillow')">Подушки</a>
                        </li>
                        <li>
                            <a ng-click="loadProducts('tshirts')">Футболки</a>
                        </li>
                    </ul>
                    <div class="btn-group" ng-show="productList">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{selectedProduct || 'Выберите продукт'}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item in productList">
                                <a ng-click="setProduct(item)">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" ng-show="productTypes">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{selectedType || 'Выберите тип'}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="filter in productTypes">
                                <a ng-click="setProductType($index)">{{filter.filterTitle}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" ng-show="selectedSecondType">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{selectedSecondType}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" ng-if="product.secondType  != ''">
                            <li ng-repeat="secondType in product.secondType">
                                <a ng-click="setSecondType($index)">{{secondType}}</a>
                            </li>
                        </ul>
                        <ul class="dropdown-menu" ng-if="product.color != ''">
                            <li ng-repeat="secondType in product.color">
                                <a ng-click="setSecondType($index)">{{secondType}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            
            

            <div class="top15">
                <button class="btn btn-primary bottom10" ng-click="createCanvas()" ng-disabled="!selectedSecondType">ПРОДОЛЖИТЬ</button>
                <!--<button class="btn btn-primary" ng-click="uploadCanvas()">Загрузить канвас на серв</button>-->

                <ngcart-addtocart id="{{product.id + initId}}"
                                  name="{{product.name}}"
                                  price="{{product.price}}" quantity="1"
                                  data="additionalInfo"
                                  image="{{product.canvasImg}}"
                                  ng-show="product.canvasImg">
                    ДОБАВИТЬ В КОРЗИНУ
                </ngcart-addtocart>
            </div>

            

            <div class="top10" id="canvasRes">

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Ваши изображения: {{ uploader.queue.length }} 
                <button class="btn btn-primary" ng-click="uploader.clearQueue()" ng-hide="!uploader.queue.length"><i class="fa fa-trash"></i> Удалить все</button>
            </h2>
            <div>
                <div class="uploaded-image" ng-repeat="item in uploader.queue">
                    <!--<div>Name: {{ item.file.name }}</div>
            <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>-->
                    <div class="pointer" ng-if="controller.isImage(item._file)" ng-click="setImgToEditor(item)" title="Нажмите, чтобы добавить в редактор">
                        <ng-thumb file="item._file" height="100"></ng-thumb>
                    </div>

                    <div class="progress-box" ng-show="uploader.isHTML5">
                        <!--Progress: {{ item.progress }}-->
                        <div class="item-progress-box">
                            <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <!--<button class="btn btn-primary" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>-->
                        <!--<button class="btn btn-primary" ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>-->
                        <button class="btn btn-primary" ng-click="item.remove()"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>            

            <div class="top10">
                <!--<div>
                        Total progress: {{ uploader.progress }}
                        <div class="total-progress-box">
                            <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>-->
                <!--<button class="btn btn-primary" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>-->
                <!--<button class="btn btn-primary" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all</button>-->
                
            </div>            
        </div>
    </div>   
    
    
    <div class="editor-loading loading" ng-if="editorLoading"></div>
</div>