<div class="row faq">
    <div class="col-md-12">
        <div class="faq-item">
            <h3>Как сделать заказ?</h3>
            <p>Заказы принимаются в магазин, по <a href="mailto:info@inoprint.ru">email</a> или <a href="https://vk.com/id287490269" target="_blank">Вконтакте</a>. Вы можете просто <a ui-sref="contacts">оставить заявку</a>, и с вами свяжутся в ближайшее время.</p>
        </div>
        <div class="faq-item">
            <h3>Как забрать заказ?</h3>
            <p>Забрать заказ можно у нас в магазине на Чехова 134. Возможна доставка курьером по городу. Жителям других городов отправляем любым удобным для покупателя способом.</p>
        </div>
        <div class="faq-item">
            <h3>Как осуществляется доставка в другой?</h3>
            <p>Мы отправляем любыми удобными вам способами. Например, любой транспортной компанией, которая есть в г. Таганрог (Энергия, ПЭК, КИТ, Деловые линии, СДЭК и другие). Так же возможна отправка прямым рейсовым автобусом или почтой.</p>
        </div>
        <div class="faq-item">
            <h3>Как можно оплатить?</h3>
            <p>Оплату принимаем, в основном, на Сбербанк или наличными в магазине. Так же возможен перевод Золотой короной (в основном, это касается жителей Казахстана). Скоро появится возможность оплаты с нашего сайта различными способами.</p>
        </div>
        <div class="faq-item">
            <h3>Какие гарантии, что мы получим свой заказ?</h3>
            <p>Мы работаем уже 1,5 года. Многие о нас знают и любят. Чтобы убедиться в нашей надежности достаточно посетить <a href="https://vk.com/inoprint" target="_blank">нашу группу Вконтакте</a>, которая существует с первого дня работы. Есть достаточно <a ui-sref="reviews">отзывов от наших клиентов</a>, которые являются реальными покупателями. Почитайте нашу стену, посетите страницы менеджера. Все сомненья сразу уйдут.</p>
        </div>
        <div class="faq-item">
            <h3>Возможна отправка наложенным платежом почтой России?</h3>
            <p>Мы работаем с почтой России только в самый крайних случаях. Основной причиной является то, что для отправки почтой наложенным платежом нужно сходить на почту 2 раза (отправить и получить перевод), у нас это достаточно проблематично и порою занимает до 2х часов. Зачем вам наложенный платеж? Если есть сомненья, то посмотрите вопрос на 1 пункт выше.</p>
        </div>
        <div class="faq-item">
            <h3>Сколько будет стоить доставка в мой город?</h3>
            <p>Доставка зависит от способа отправки, веса и города. Напишите <a ui-sref="contacts">нам</a>, мы обязательно вам поможем.</p>
        </div>

        <div class="faq-item contact-us-item align-center">
            <h3>Остались вопросы?</h3>
            <a ui-sref="contacts" class="btn btn-primary">Задайте их нам</a>
        </div>
    </div>
    
</div>