.slider {
    margin-left: 29px;
    margin-bottom: 15px;
    width: 962px;
    height: 298px;
    position: relative;
}

    .slider .arrow {
        width: 30px;
        height: 40px;
        background: url(../images/slider-arrows.png) no-repeat;
        display: inline-block;
        position: absolute;
        top: 120px;
        opacity: 0.7;
        cursor: pointer;
    }

    .slider .left-arrow {
        left: -30px; 
    }

    .slider .right-arrow {
        background-position: -30px 0;
        right: -30px; 
    }

    .slider .arrow:hover {
        opacity: 1;
    }
        .slider-container {
            width: 962px;
            overflow: hidden;
        }

            .slider-images {
                width: 5772px;
                position: relative;
                left: -962px;
            }

                .slider-images .image {
                    width: 962px;
                    height: 298px;
                    float: left;
                    background-color: #27282B;
                }

                .slider-images .image.one {
                    /*background-color:red;*/
                }

                .slider-images .image.two {
                    /*background-color:green;*/
                }

                .slider-images .image.three {
                    /*background-color:yellow;*/
                }

                .slider-images .image.four {
                    /*background-color:blue;*/
                }

                    .slider-images .who-work,
                    .slider-images .profession-list {
                       padding: 20px;
                    }

                        .slider-images .who-work h2,
                        .slider-images .profession-list h2 {
                            margin-bottom: 20px;
                            font-size: 16px;
                        }

                        .slider-images .who-work h2.stud {
                            margin-left: 60px;
                        }

                        .slider-images .who-work h2.pro {
                            margin-left: 120px;
                        }

                        .slider-images .who-work h2.mother {
                            margin-left: 180px;
                        }

                            .slider-images .who-work h2 span {
                               color: #95bd42;
                               font-size: 18px;
                            }

                    .slider-images .profession-list {
                        margin-left: 50px;
                    }

                        .slider-images .profession-list .start-work-bt {
                            margin-top: 50px;
                            padding: 15px;
                        }

                    .slider-images .image .text-box {
                        width: 100%;
                        position: absolute;
                        top: 210px;
                        padding: 10px 20px;
                        background-color: rgba(256, 256, 256, 0.7);
                    }

                        .slider-images .image .text-box h3 {
                            margin-bottom: 10px;
                            color: #549b01;
                            font-size: 20px;
                        }

                        .slider-images .image .text-box span {
                            font-size: 15px;
                            color: #000;
                        }