<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>INOPRINT - Печать на предметах с вашим фото, дизайном или логотипом</title>
    <meta name="description" content="Производство фотосувенирнйо продукции, предметов декора и подарков. Печать на различных предметах с Вашим любым фото, изображением, текстом, дизайном или логотипом.">
    <meta name="keywords" content="печать на предметах, фотосувениры, предметы с фото, фото на предметах, печать оптом, чехлы с фото, печать на чехлах, печать на брелках, печать по подушке, печать на одежде, печать на футболках, печать на кружках, фоторамки, фотокамни, чехол с именем, именной чехол, подушка с фото, кружка с фото, подарок с фото, уникальный подарок, подарок на Новый год, подарок на 14 февраля, подарок на 8 марта, подарок на 23 февраля, подарок девушке, подарок жене, подарок маме, подарок парню, подарок мужу, подарок папе">
    <meta itemprop="name" content="INOPRINT - Печать на предметах с вашим фото, дизайном или логотипом">
    <meta itemprop="description" content="Производство фотосувенирнйо продукции, предметов декора и подарков. Печать на различных предметах с Вашим любым фото, изображением, текстом, дизайном или логотипом.">
    <meta itemprop="image" content="/images/logo-share.jpg" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="INOPRINT - Печать на предметах с вашим фото, дизайном или логотипом">
    <meta name="twitter:description" content="Производство фотосувенирнйо продукции, предметов декора и подарков. Печать на различных предметах с Вашим любым фото, изображением, текстом, дизайном или логотипом.">
    <meta name="twitter:image" content="/images/logo-share.jpg">
    <meta name="twitter:domain" content="http://inoprint.ru/">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="INOPRINT - Печать на предметах с вашим фото, дизайном или логотипом" />
    <meta property="og:description" content="Производство фотосувенирнйо продукции, предметов декора и подарков. Печать на различных предметах с Вашим любым фото, изображением, текстом, дизайном или логотипом." />
    <meta property="og:image" content="/images/logo-share.jpg" />
    <meta property="og:url" content="http://inoprint.ru/" />

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link href="/styles/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/styles/bootstrap/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="/styles/font-awesome-4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    <link href="/styles/app.css" type="text/css" rel="stylesheet" />
    <link href="/styles/menu.css" type="text/css" rel="stylesheet" />
    <link href="/styles/home.css" type="text/css" rel="stylesheet" />
    <link href="/styles/contacts.css" type="text/css" rel="stylesheet" />
    <link href="/styles/products-list.css" type="text/css" rel="stylesheet" />
    <link href="/styles/media-styles.css" type="text/css" rel="stylesheet" />
    <link href="/styles/product-details.css" type="text/css" rel="stylesheet" />
    <link href="/styles/cart.css" type="text/css" rel="stylesheet" />
    <link href="/styles/editor.css" type="text/css" rel="stylesheet" />
    <link href="/styles/angular-toastr.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div ng-include="'/layout.html'"></div>
    <!--<div ng-include="'/views/cart/cart-templates.html'"></div>-->
	
    <script src="/js/libraries/jquery-1.12.1.min.js"></script>
    <script src="/js/libraries/jquery-ui.min.js"></script>
    <script src="/js/libraries/angular.min.js"></script>
    <script src="/js/libraries/angular-ui-router.min.js"></script>
    <script src="/js/libraries/angular-route.min.js"></script>
    <script src="/js/libraries/angular-resource.min.js"></script>
    <script src="/js/libraries/angular-cookies.min.js"></script>
    <script src="/js/libraries/angular-animate.min.js"></script>
    <script src="/js/libraries/angular-sanitize.min.js"></script>
    <script src="/js/libraries/angular-touch.min.js"></script>
        
    <script src="/js/libraries/bootstrap.min.js"></script>
    <script src="/js/libraries/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!--<script src="/js/libraries/linq.min.js"></script>
    <script src="/js/libraries/angulartics-google-analytics.min.js"></script>
    <script src="/js/libraries/angulartics.min.js"></script>-->

    <script src="/js/libraries/ngCart.js"></script>
    <script src="/js/libraries/angular-file-upload.min.js"></script>
    <script src="/js/libraries/html2canvas.js"></script>
    <script src="/js/libraries/lodash.js"></script>
    <script src="/js/libraries/angular-toastr.min.js"></script>
    <script src="/js/libraries/angular-toastr.tpls.min.js"></script>

    <script src="/app.js"></script>

    <script src="/js/app-route.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/views/home/home.js"></script>
    <script src="/views/reviews/reviews.js"></script>
    <script src="/views/news/news.js"></script>
    <script src="/views/contacts/contacts.js"></script>
    <script src="/views/products/case/case-ctrl.js"></script>
    <script src="/views/products/keychain/keychain.js"></script>
    <script src="/views/products/clocks/clocks.js"></script>
    <script src="/views/products/mugs/mugs.js"></script>
    <script src="/views/products/t-shirts/t-shirts.js"></script>
    <script src="/views/products/pillows/pillows.js"></script>
    <script src="/views/products/puzzles/puzzles.js"></script>
    <script src="/views/products/photo-stone/photo-stone.js"></script>
    <script src="/views/products/photo-frame/photo-frame.js"></script>
    <script src="/views/products/photo-kristall/photo-kristall.js"></script>

    <script src="/views/products/product-details.js"></script>
    <script src="/views/editor/editor.js"></script>
    <script src="/views/editor/mockups-json.js"></script>
    <script src="/views/cart/cart.js"></script>

    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

	<!-- Google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-83692511-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<!-- End of Google analytics -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter39420655 = new Ya.Metrika({
						id:39420655,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true,
						webvisor:true,
						trackHash:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/39420655" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	

    <script type="text/ng-template" id="template/ngCart/summary.html">
        <div class="row">
            <div class="col-md-6">
                {{ ngCart.getTotalItems() }}
                <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
                <br />{{ ngCart.totalCost() }} руб
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="template/ngCart/cart.html">
        <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
            Ваша корзина пуста
        </div>

        <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
            <table class="table table-striped ngCart cart">
                <thead>
                    <tr>
                        <th></th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Общая стоимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="ngCart.getTax()">
                        <td></td>
                        <td></td>
                        <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
                        <td>{{ ngCart.getTax() }} руб</td>
                        <td></td>
                    </tr>
                    <tr ng-show="ngCart.getShipping()">
                        <td></td>
                        <td></td>
                        <td>Доставка:</td>
                        <td>{{ ngCart.getShipping() }} руб</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Всего:</b></td>
                        <td>{{ ngCart.totalCost() }} руб</td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                        <td>
                            <img ng-src="{{item.getImage()}}" width="100" />
                            {{ item.getName() }}
                            <span ng-show="item.getData().productType">, {{ item.getData().productType }}</span>
                            <span ng-show="item.getData().productSecondType">, {{ item.getData().productSecondType }}</span>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                                  ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                            {{ item.getQuantity() | number }}&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span>
                        </td>
                        <td>{{ item.getPrice() }} руб</td>
                        <td>{{ item.getTotal() }} руб</td>
                        <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </script>

    <script type="text/ng-template" id="template/ngCart/addtocart.html">
        <div ng-hide="attrs.id">
            <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
        </div>
        <div class="add-to-cart" ng-show="attrs.id">
            <div>
                <span ng-show="quantityMax">
                    <input id="quantity" type="number" name="quantity" ng-model="q" />
                </span>
                <a class="btn btn-primary"
                   ng-click="ngCart.addItem(id, name, price, q, data, image)"
                   ng-transclude></a>
            </div>
            <mark ng-show="inCart()">
                Добавлено. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Удалить</a>
            </mark>
        </div>
    </script>

    <script type="text/ng-template" id="template/ngCart/checkout.html">

        <div ng-if="service=='http' || service == 'log'">
            <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
        </div>

        <div ng-if="service=='paypal'">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="{{ settings.paypal.business }}">
                <input type="hidden" name="lc" value="CA">
                <input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
                <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
                <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
                <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
                <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>

    </script>
</body>
</html>
